body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header,
nav,
section,
article,
aside,
footer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #eee;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section,
article,
aside {
    margin-top: 20px;
}

footer {
    margin-top: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
